@import url("https://use.typekit.net/jmk3xov.css");
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Cinzel&family=Cardo&display=swap');

#HUD {
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.spellChoice {
  z-index: 50;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
  font-size: 60px;
  width: 160px;
  margin-left: 20px;
  color: #fff;
  font-family: 'Cinzel', serif;
  text-align: center;
  align-content: center;
  justify-content: center;
  display: block;
  flex-direction: column;
}

.spellChoice button {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: #fff;
  border: 5px;
  border-color: #fff;
  text-align: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  width: 160px;
  height: 80px;
  /* padding: 10px 20px; */
  font-size: 24px;
  border-radius: 80px;
}

#fire {
  background-color: red;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#fire:hover {
  background-color: darkred;
}

#grass {
  background-color: green;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#grass:hover {
  background-color: darkgreen;
}

#water {
  background-color: dodgerblue;
  display: flex;
  align-items: center;
}

#water:hover {
  background-color: darkblue;
}

canvas {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
}

#score {
  position: fixed;
  font-family: 'Cinzel', serif;
  font-weight: bolder;
  color: #fff;
  top: 0;
  right: 0;
  font-size: 52px;
  font-family: 'Cinzel', serif;
  padding: 20px;
  text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000;
}

#lives {
  position: fixed;
  font-family: 'Cinzel', serif;
  font-weight: bolder;
  color: red;
  bottom: 0;
  right: 0;
  font-size: 52px;
  font-family: 'Cinzel', serif;
  padding: 20px;
}


#gameover {
  z-index: 55;
  position: fixed;
  display: none;
  font-family: 'Cinzel', serif;
  font-weight: bolder;
  color: red;
  background-color: transparent;
  border: white;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 52px;
  font-family: 'Cinzel', serif;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#titleScreenButton {
  z-index: 55;
  position: fixed;
  display: block;
  font-family: 'Cinzel', serif;
  font-weight: bolder;
  color: white;
  background-color: transparent;
  border: white;
  border-style: solid;
  border-radius: 100px;
  font-size: 52px;
  font-family: 'Cinzel', serif;
  padding: 20px;
}